:root {
  --font-size : 10px;
  --color-bg: #090979;
  --color-text: #fefeff;
  --color-accent: red;
}

html.dark{
  --font-size : 10px;
  --color-bg: #ffa400;
  --color-text: #c200ff;
  --color-accent: red;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100vw;
  background-color: #00d4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo{
  position: relative;
  border: 1px solid black;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}